/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
} */

nav {
  font-weight: 600;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 8px;
  padding: 20px;
}

.banner {
  height: 80vh;
  background-color: rebeccapurple;
  background: url(../img/siarhei-palishchuk-l5QjpiLwJ_E-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-content: center;
  color: white;
}

.btn-download {
  margin-left: 40px;
  margin-bottom: -25px;
}

.swiper {
  width: 950px;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background:  #ff5f00;
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid  #ffff ;
}

.card {
  border-radius: 20px;
  background: rgb(234, 234, 234);
  height: 50vh;
  width: 50vh;
}

.card::before{
  content: "";
  position: absolute;
  height: 20vh;
  width: 100%;
  background: #ff5f00;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
}

.card .name-company{
  margin-top: 10px;
}

.card .button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card .button button{
  background: #ff5f00;
  border-radius: 15px;
  outline: none;
  border: none;
  color: #ffff;
  padding: 6px 50px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}