{% extends 'base.html' %}
{% block title %}
  Home
{% endblock %}

{% block content %}

  <div class="container">

    <a href="{{ url_for('dinas_a_admin') }}" class="btn btn-primary">Kota Palu</a>
    <a href="{{ url_for('dinas_a', district_id=1) }}" class="btn btn-primary">Palu Barat</a>
    <a href="{{ url_for('dinas_a', district_id=2) }}" class="btn btn-primary">Palu Selatan</a>
    <a href="{{ url_for('dinas_a', district_id=3) }}" class="btn btn-primary">Tatanga</a>
    <a href="{{ url_for('dinas_a', district_id=4) }}" class="btn btn-primary">Ulujadi</a>
    <a href="{{ url_for('dinas_a', district_id=5) }}" class="btn btn-primary">Mntikulore</a>
    <a href="{{ url_for('dinas_a', district_id=6) }}" class="btn btn-primary">Palu Timur</a>
    <a href="{{ url_for('dinas_a', district_id=7) }}" class="btn btn-primary">Palu Utara</a>
    <a href="{{ url_for('dinas_a', district_id=8) }}" class="btn btn-primary">Tawaili</a>

    <hr>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tahun</th>
          <th scope="col">Column 1</th>
          <th scope="col">Column 2</th>
          <th scope="col">Column 3</th>
          {% if current_user.role == 'admin' or current_user.officer_of_agency == 1 %}
            <th scope="col">Keterangan</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for d in data %}
        <tr>
            <td>{{ d.tahun }}</td>
            <td>{{ d.col1 }}</td>
            <td>{{ d.col2 }}</td>
            <td>{{ d.col3 }}</td>
            {% if current_user.role == 'admin' or current_user.officer_of_agency == 1 %}
              <td><a href="{{ url_for('delete_row', id=d.id) }}" class="btn btn-danger">Hapus</a></td>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>

    {% if current_user.role == 'admin' or current_user.officer_of_agency == 1 %}
      <a href="{{ url_for('dinas_a_add') }}" class="btn btn-primary">Tambah</a>
    {% endif %}
  
  </div>


{% endblock %}