{% extends 'base_agi.html' %}
{% block title %}
  Edit
{% endblock %}

{% block content %}
  
  <div class="container">
    <h1>Edit Table DPRD</h1>

    <hr>

    <form method="POST" class="edit-form">

      {{ form.hidden_tag() }}

      {{ form.tahun.label() }}
      {{ form.tahun(class="form-control my-2", autocomplete="off")}}

      <!-- awal -->

      {{ form.u1.label() }}
      {{ form.u1(class="form-control my-2", autocomplete="off")}}

      {{ form.u2.label() }}
      {{ form.u2(class="form-control my-2", autocomplete="off")}}

      {{ form.u3.label() }}
      {{ form.u3(class="form-control my-2", autocomplete="off")}}

      {{ form.u4.label() }}
      {{ form.u4(class="form-control my-2", autocomplete="off")}}

      {{ form.u5.label() }}
      {{ form.u5(class="form-control my-2", autocomplete="off")}}

      {{ form.u6.label() }}
      {{ form.u6(class="form-control my-2", autocomplete="off")}}

      {{ form.u7.label() }}
      {{ form.u7(class="form-control my-2", autocomplete="off")}}

      {{ form.u8.label() }}
      {{ form.u8(class="form-control my-2", autocomplete="off")}}

      {{ form.u9.label() }}
      {{ form.u9(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u10.label() }}
      {{ form.u10(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u11.label() }}
      {{ form.u11(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u12.label() }}
      {{ form.u12(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u13.label() }}
      {{ form.u13(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u14.label() }}
      {{ form.u14(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u15.label() }}
      {{ form.u15(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u16.label() }}
      {{ form.u16(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u17.label() }}
      {{ form.u17(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u18.label() }}
      {{ form.u18(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u19.label() }}
      {{ form.u19(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u20.label() }}
      {{ form.u20(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u21.label() }}
      {{ form.u21(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u22.label() }}
      {{ form.u22(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u23.label() }}
      {{ form.u23(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u24.label() }}
      {{ form.u24(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u25.label() }}
      {{ form.u25(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u26.label() }}
      {{ form.u26(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u27.label() }}
      {{ form.u27(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u28.label() }}
      {{ form.u28(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u29.label() }}
      {{ form.u29(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u30.label() }}
      {{ form.u30(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u31.label() }}
      {{ form.u31(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u32.label() }}
      {{ form.u32(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u33.label() }}
      {{ form.u33(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u34.label() }}
      {{ form.u34(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u35.label() }}
      {{ form.u35(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u36.label() }}
      {{ form.u36(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u37.label() }}
      {{ form.u37(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u38.label() }}
      {{ form.u38(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u39.label() }}
      {{ form.u39(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u40.label() }}
      {{ form.u40(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u41.label() }}
      {{ form.u41(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u42.label() }}
      {{ form.u42(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u43.label() }}
      {{ form.u43(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u44.label() }}
      {{ form.u44(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u45.label() }}
      {{ form.u45(class="form-control my-2", autocomplete="off")}}

      <!-- akhir -->
      
      {{ form.district_id.label() }}
      {{ form.district_id(class="form-control my-2", placeholder="Test")}}

      <br>

      {{ form.submit(class="btn btn-primary btn-large btn-block")}}

    </form>

  </div>

{% endblock %}