{% extends 'base_agi.html' %} {% block title %} Sekretariat Daerah {% endblock %} {% block content %}
<!-- Content -->

<div class="container">
  <a href="{{ url_for('dprd') }}" class="btn btn-success">Kota Palu</a>
  <a href="{{ url_for('dprd_kec', district_id=1) }}" class="btn btn-success">Palu Barat</a>
  <a href="{{ url_for('dprd_kec', district_id=2) }}" class="btn btn-success">Palu Selatan</a>
  <a href="{{ url_for('dprd_kec', district_id=3) }}" class="btn btn-success">Tatanga</a>
  <a href="{{ url_for('dprd_kec', district_id=4) }}" class="btn btn-success">Ulujadi</a>
  <a href="{{ url_for('dprd_kec', district_id=5) }}" class="btn btn-success">Mantikulore</a>
  <a href="{{ url_for('dprd_kec', district_id=6) }}" class="btn btn-success">Palu Timur</a>
  <a href="{{ url_for('dprd_kec', district_id=7) }}" class="btn btn-success">Palu Utara</a>
  <a href="{{ url_for('dprd_kec', district_id=8) }}" class="btn btn-success">Tawaili</a>

  <h3>{{ district_name.name }}</h3>
</div>

<div class="table-responsive" style="padding: 5vh">
  <table class="table">
    <thead class="table-dark text-center">
      <tr>
        <th rowspan="2" scope="col">No</th>
        <th rowspan="2" scope="col">Uraian</th>
        <th rowspan="2" scope="col">Satuan</th>
        <th colspan="{{ data|length }}" scope="col" style="text-align: center">Tahun</th>
      </tr>

      <tr>
        {% for d in data %}
        <th>
          {{ d.tahun }} {% if current_user.role == 'admin' or current_user.officer_of_agency == 2 %}
          <span><a href="{{ url_for('dprd_delete', id=d.id) }}" class="btn btn-danger rounded-circle">x</a></span>
          {% endif %}
        </th>
        {% endfor %} {% if current_user.role == 'admin' or current_user.officer_of_agency == 2 %}
        <th><a href="{{ url_for('dprd_add') }}" class="btn btn-success">Tambah</a></th>
        {% endif %}
      </tr>
    </thead>

    <!-- awal -->
    <tbody>
      <tr>
        <td>1</td>
        <td>Tersedianya Rencana Kerja Tahunan pada setiap Alat-alat Kelengkapan DPRD Provinsi/Kab/Kota</td>
        <td>RKT</td>
        {% for d in data %}
        <td>{{ d.u1 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>2</td>
        <td>Tersusun dan terintegrasinya Program-Program Kerja DPRD untuk melaksanakan Fungsi Pengawasan, Fungsi Pembentukan Perda, dan Fungsi Anggaran dalam Dokumen Rencana Lima Tahunan (RPJM) maupun Dokumen Rencana Tahunan (RKPD)</td>
        <td>Program</td>
        {% for d in data %}
        <td>{{ d.u2 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>3</td>
        <td>Terintegrasi program-program DPRD untuk melaksanakan fungsi pengawasan, pembentukan Perda dan Anggaran ke dalam Dokumen Perencanaan dan Dokumen Anggaran Setwan DPRD</td>
        <td>Program</td>
        {% for d in data %}
        <td>{{ d.u3 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>4</td>
        <td>Jumlah Fraksi DPRD</td>
        <td>Fraksi</td>
        {% for d in data %}
        <td>{{ d.u4 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>5</td>
        <td>Jumlah Keputusan DPRD Kota Palu</td>
        <td>Keputusan</td>
        {% for d in data %}
        <td>{{ d.u5 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>6</td>
        <td>Peraturan Daerah/ Local Regulation</td>
        <td>Perda</td>
        {% for d in data %}
        <td>{{ d.u6 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>7</td>
        <td>Keputusan DPRD/ Regional Assemply Decision</td>
        <td>Keputusan</td>
        {% for d in data %}
        <td>{{ d.u7 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>8</td>
        <td>Nota/Note</td>
        <td>Nota</td>
        {% for d in data %}
        <td>{{ d.u8 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>9</td>
        <td>Keputusan Pimpinan Dewan/ Chief of Council Decision</td>
        <td>Keputusan</td>
        {% for d in data %}
        <td>{{ d.u9 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>10</td>
        <td>Musyawarah/ Discussuion</td>
        <td>Musyawarah</td>
        {% for d in data %}
        <td>{{ d.u10 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>11</td>
        <td>Memorandum/ Memorandum</td>
        <td>Memorandum</td>
        {% for d in data %}
        <td>{{ d.u11 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>12</td>
        <td>Panitia Anggaran/ Budget Committee</td>
        <td>Panangg</td>
        {% for d in data %}
        <td>{{ d.u12 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>13</td>
        <td>Komposisi Dewan Perwakilan Rakyat Daerah Menurut Jenis Kelamin di Kota Palu</td>
        <td>Dewan</td>
        {% for d in data %}
        <td>{{ d.u13 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td><strong>A. Fraksi</strong></td>
        <td></td>
      </tr>
      <tr>
        <td>13.1</td>
        <td><strong> Fraksi Golkar </strong></td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u14 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u15 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>13.1</td>
        <td>Fraksi Demokrat</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u16 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u17 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>13.1</td>
        <td>Fraksi PKS/td></td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u18 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u19 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>13.1</td>
        <td>Fraksi GERINDRA</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u20 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u21 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>13.1</td>
        <td>Fraksi HANURA</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u22 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u23 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>Fraksi NASDEM</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u24 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u25 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>Fraksi Demokrasi Indonesia Perjuangan</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u26 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u27 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>13.1</td>
        <td>Fraksi Partai Kebangkitan Bangsa</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u28 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u29 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>13.1</td>
        <td>Fraksi Amanat Indonesia</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u30 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u31 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>Subjumlah</td>
        <td>Subjumlah</td>
      </tr>
      <tr>
        <td></td>
        <td><strong>B. KOMISI/Commission</strong></td>
        <td>Subjumlah</td>
      </tr>

      <tr>
        <td></td>
        <td>Komisi Bidang Pemerintahan/Goverment Sector</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u32 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u33 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>Komisi Bidang Ekonomi Keuangan/ Economic Finance Sector</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u34 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u35 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>Komisi Bidang Pembangunan/ Development Sector</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u36 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u37 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>Subjumlah</td>
        <td>Subjumlah</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Kepanitian Badan Musyawarah/ Converence Committee</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u38 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u39 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>Kepanitian Badan Anggaran/ Budget Committee</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u40 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u41 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>Kepanitian Badan Kehormatan/ Honorary Committee</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u42 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u43 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>Kepanitian Badan Legislasi Daerah/ Regional Legislation Committee</td>
        <td>Orang</td>
      </tr>
      <tr>
        <td></td>
        <td>a. Laki-Laki</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u44 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>b. perempuan</td>
        <td>Orang</td>
        {% for d in data %}
        <td>{{ d.u45 }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td></td>
        <td>Subjumlah</td>
        <td>Subjumlah</td>
      </tr>
      <!-- akhir -->
    </tbody>
  </table>
</div>

<!-- Content end -->

{% endblock %}
