{% extends 'base.html' %} {% block title %} Publikasi {% endblock %} {% block content %}

<!-- Content -->
<section>

  <div class="swiper mySwiper container">
      <div class=" swiper-wrapper contentt">

          <!-- dinas sekda -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-1.jpg" alt="">
                  </div>

                  <div class="name-company">
                      <span class="name">Dinas </span>
                      <span class="company">Sekertariat Daerah </span>

                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas dprd -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-2.jpg" alt="">
                  </div>
                  <div class="name-company">
                      <span class="name">Dinas </span>
                      <span class="company">Sekertariat DPRD </span>

                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas INSPEKTORAT -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-3.jpg" alt="">
                  </div>

                  <div class="name-company">
                      <span class="name">Dinas </span>
                      <span class="company">INSPEKTORAT</span>

                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas kesehatan -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company">
                      <span class="name">Dinas </span>
                      <span class="company">Kesehatan
                      </span>

                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas Pendidikan dan Kebudayaan -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: center;">
                      <span class="name" >Dinas </span> <br>
                      <span class="company">Pendidikan dan Kebudayaan </span>
                      <span class="company"> </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- rsu anutapura -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company">
                      <span class="name" style="text-align: center;">RSU</span>
                      <span class="company">Anutapura</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas pekerjaan umum -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Pekerjaan Umum
                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas penataan ruang dan pertanahan -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Penataan Ruang dan Pertanahan
                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas perumahan dan kawasan permukiman-->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Perumahan dan Kawasan Permukiman

                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dsatuan polisi pamong praja -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company">
                      <span class="name" style="text-align: center;">Satuan</span>
                      <span class="company"> Polisi Pamong Praja
                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>
          
          <!-- dinas pemadam kebakaran dan penyelamatan -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Pemadam Kebakaran dan Penyelamatan

                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas sosial-->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Sosial

                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- Koperasi, UMKM dan Tenaga Kerja -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Koperasi, UMKM dan Tenaga Kerja


                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas perdagangan dan perindustrian -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Perdagangan dan Perindustrian 


                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas kependudukan dan pencatatan sipil -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">kependudukan dan pencatatan sipil 


                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas pertanian dan ketahanan pangan -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Pertanian dan Ketahanan Pangan
                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas kearsipan dan perpustakaan -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Kearsipan dan Perpustakaan 
                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas dinas pemuda dan olahraga -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Pemuda dan Olahraga
                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas pemberdayaan perempuan dan perlindungan anak -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Pemberdayaan dan Perlindungan Anak</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas pemberdayaan perempuan dan perlindungan anak -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">pengendalian penduduk dan KB</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas penanaman modal dan pelayanan terpadu satu pintu -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Penanaman Modal</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- Dinas pariwisata -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Pariwisata</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- Perhubungan -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Perhubungan</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas komunikasi dan informatika -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">Komunikasi dan informatika</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas badan perencanaan pembangunan daerah -->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">badan perencanaan pembangunan daerah</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- dinas kepagawaian dan pengembangan sumber daya manusia daerah-->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">kepagawaian dan pengembangan SDM</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- badan pengelola keuangan dan aset daerah-->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Badan</span>
                      <span class="company">Pengelola Keuangan dan Aset Daerah</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- badan pengelola keuangan dan aset daerah-->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Badan</span>
                      <span class="company">Penelitian dan Pengembangan Daerah</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- badan kesatuan bangsa dan politik-->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Badan</span>
                      <span class="company">Kesatuan Bangsa dan Politik</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!-- badan penanggulangan bencana daerah-->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Badan</span>
                      <span class="company">Penanggulangan Bencana Daerah</span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

          <!--administrator kawasan ekonomi khusus-->
          <div class="swiper-slide card">
              <div class="card-content">
                  <div class="image">
                      <img src="images/team-4.jpg" alt="">
                  </div>

                  <div class="name-company" style="text-align: Center;">
                      <span class="name" style="text-align: center;">Dinas</span>
                      <span class="company">administrator kawasan ekonomi khusus
                      </span>
                  </div>

                  <div class="button">
                      <button class="See">Lihat</button>
                  
                  </div>

              </div>
          </div>

      </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>

</section>


{% endblock %}
