{% extends 'base_agi.html' %}
{% block title %}
  Edit
{% endblock %}

{% block content %}
  
  <div class="container">
    <h1>Edit Table Setda</h1>
    <p>Jika terdapat data kosong, harap diisi dengan angka 0</p>

    <hr>

    <form method="POST" class="edit-form">

      {{ form.hidden_tag() }}

      {{ form.tahun.label() }}
      {{ form.tahun(class="form-control my-2", autocomplete="off")}}

      <!-- awal -->

      <h2>I. Bagian Pemerintahan</h2>
      {{ form.u1.label() }}
      {{ form.u1(class="form-control my-2", autocomplete="off")}}

      {{ form.u2.label() }}
      {{ form.u2(class="form-control my-2", autocomplete="off")}}

      {{ form.u3.label() }}
      {{ form.u3(class="form-control my-2", autocomplete="off")}}

      {{ form.u4.label() }}
      {{ form.u4(class="form-control my-2", autocomplete="off")}}

      {{ form.u5.label() }}
      {{ form.u5(class="form-control my-2", autocomplete="off")}}

      {{ form.u6.label() }}
      {{ form.u6(class="form-control my-2", autocomplete="off")}}

      {{ form.u7.label() }}
      {{ form.u7(class="form-control my-2", autocomplete="off")}}

      {{ form.u8.label() }}
      {{ form.u8(class="form-control my-2", autocomplete="off")}}

      {{ form.u9.label() }}
      {{ form.u9(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u10.label() }}
      {{ form.u10(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u11.label() }}
      {{ form.u11(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u12.label() }}
      {{ form.u12(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u13.label() }}
      {{ form.u13(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u14.label() }}
      {{ form.u14(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u15.label() }}
      {{ form.u15(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u16.label() }}
      {{ form.u16(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u17.label() }}
      {{ form.u17(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u18.label() }}
      {{ form.u18(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u19.label() }}
      {{ form.u19(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u20.label() }}
      {{ form.u20(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u21.label() }}
      {{ form.u21(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u22.label() }}
      {{ form.u22(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u23.label() }}
      {{ form.u23(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u24.label() }}
      {{ form.u24(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u25.label() }}
      {{ form.u25(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u26.label() }}
      {{ form.u26(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u27.label() }}
      {{ form.u27(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u28.label() }}
      {{ form.u28(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u29.label() }}
      {{ form.u29(class="form-control my-2", autocomplete="off")}}
      
      <h4>Cakupan Sarana Prasarana Perkantoran Pemerintahan Desa yang Baik</h4>
      {{ form.u30.label() }}
      {{ form.u30(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u31.label() }}
      {{ form.u31(class="form-control my-2", autocomplete="off")}}
      
      <h4>Rata-Rata Jumlah Kelompok Binaan Lembaga Pemberdayaan Masyarakat (LPM)</h4>
      {{ form.u32.label() }}
      {{ form.u32(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u33.label() }}
      {{ form.u33(class="form-control my-2", autocomplete="off")}}
      
      <h4>Persetase LPM Aktif</h4>
      {{ form.u34.label() }}
      {{ form.u34(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u35.label() }}
      {{ form.u35(class="form-control my-2", autocomplete="off")}}
      
      <h4>Rata-Rata Jumlah Kelompok Binaan PKK</h4>
      {{ form.u36.label() }}
      {{ form.u36(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u37.label() }}
      {{ form.u37(class="form-control my-2", autocomplete="off")}}
      
      <h4>LPM Beprestasi</h4>
      {{ form.u38.label() }}
      {{ form.u38(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u39.label() }}
      {{ form.u39(class="form-control my-2", autocomplete="off")}}
      
      <h4>Swadaya Masyarakat terhadap Program pemberdayaan masyarakat</h4>
      {{ form.u40.label() }}
      {{ form.u40(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u41.label() }}
      {{ form.u41(class="form-control my-2", autocomplete="off")}}
      
      <h4>Pemeliharaan Pasca Program pemberdayaan masyarakat</h4>
      {{ form.u42.label() }}
      {{ form.u42(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u43.label() }}
      {{ form.u43(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u44.label() }}
      {{ form.u44(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u45.label() }}
      {{ form.u45(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u46.label() }}
      {{ form.u46(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u47.label() }}
      {{ form.u47(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u48.label() }}
      {{ form.u48(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u49.label() }}
      {{ form.u49(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u50.label() }}
      {{ form.u50(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u51.label() }}
      {{ form.u51(class="form-control my-2", autocomplete="off")}}
      
      <h2>II. Bagian Hukum</h2>
      <h4>Jumlah penanganan pengaduan pelanggaran Hak Asasi Manusia (HAM)</h4>
      {{ form.u52.label() }}
      {{ form.u52(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u53.label() }}
      {{ form.u53(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u54.label() }}
      {{ form.u54(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u55.label() }}
      {{ form.u55(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u56.label() }}
      {{ form.u56(class="form-control my-2", autocomplete="off")}}
      
      <h4>Jumlah penanganan pengaduan pelanggaran Hak Asasi Manusia (HAM) perempuan terutama kekerasan terhadap perempuan</h4>
      {{ form.u57.label() }}
      {{ form.u57(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u58.label() }}
      {{ form.u58(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u59.label() }}
      {{ form.u59(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u60.label() }}
      {{ form.u60(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u61.label() }}
      {{ form.u61(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u62.label() }}
      {{ form.u62(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u63.label() }}
      {{ form.u63(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u64.label() }}
      {{ form.u64(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u65.label() }}
      {{ form.u65(class="form-control my-2", autocomplete="off")}}
      
      <h2>III. Bagian Perekonomian</h2>
      {{ form.u66.label() }}
      {{ form.u66(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u67.label() }}
      {{ form.u67(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u68.label() }}
      {{ form.u68(class="form-control my-2", autocomplete="off")}}
      
      <h4>Indeks Gini</h4>
      {{ form.u69.label() }}
      {{ form.u69(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u70.label() }}
      {{ form.u70(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u71.label() }}
      {{ form.u71(class="form-control my-2", autocomplete="off")}}
      
      <h4>Pemerataan Pendapatan Versi Bank Dunia</h4>
      {{ form.u72.label() }}
      {{ form.u72(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u73.label() }}
      {{ form.u73(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u74.label() }}
      {{ form.u74(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u75.label() }}
      {{ form.u75(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u76.label() }}
      {{ form.u76(class="form-control my-2", autocomplete="off")}}
      
      <h4>Rasio Kesenjangan Kemiskinan</h4>
      {{ form.u77.label() }}
      {{ form.u77(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u78.label() }}
      {{ form.u78(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u79.label() }}
      {{ form.u79(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u80.label() }}
      {{ form.u80(class="form-control my-2", autocomplete="off")}}
      
      <h4>Proporsi penduduk dengan pendapatan kurang dari USD 1,00 (PPP) per kapita per hari</h4>
      {{ form.u81.label() }}
      {{ form.u81(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u82.label() }}
      {{ form.u82(class="form-control my-2", autocomplete="off")}}

      <h4>Indeks Pembangunan Manusia (IPM)</h4>
      {{ form.u83.label() }}
      {{ form.u83(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u84.label() }}
      {{ form.u84(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u85.label() }}
      {{ form.u85(class="form-control my-2", autocomplete="off")}}
      
      <h4>Pencapaian Skor Pola Pangan Harapan (PPH)</h4>
      {{ form.u86.label() }}
      {{ form.u86(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u87.label() }}
      {{ form.u87(class="form-control my-2", autocomplete="off")}}
      
      <h4>Penguatan Cadangan Pangan</h4>
      {{ form.u88.label() }}
      {{ form.u88(class="form-control my-2", autocomplete="off")}}
      
      <h4>Penanganan Daerah Rawan Pangan</h4>
      {{ form.u89.label() }}
      {{ form.u89(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u90.label() }}
      {{ form.u90(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u91.label() }}
      {{ form.u91(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kontribusi Sektor Pertanian/ Perkebunan terhadap PDRB</h4>
      {{ form.u92.label() }}
      {{ form.u92(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u93.label() }}
      {{ form.u93(class="form-control my-2", autocomplete="off")}}

      <h4>Kontribusi Sektor Pertanian (Palawijaya) terhadap PDRB</h4>
      {{ form.u94.label() }}
      {{ form.u94(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u95.label() }}
      {{ form.u95(class="form-control my-2", autocomplete="off")}}

      {{ form.u96.label() }}
      {{ form.u96(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kontribusi Sektor Perkebunan (Tanaman Keras) Terhadap PDRB</h4>
      {{ form.u97.label() }}
      {{ form.u97(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u98.label() }}
      {{ form.u98(class="form-control my-2", autocomplete="off")}}

      <h4>Kontribusi Produksi Kelompok Petani terhadap PDRB</h4>
      {{ form.u99.label() }}
      {{ form.u99(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u100.label() }}
      {{ form.u100(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kontribusi Sektor Kehutanan terhadap PDRB</h4>
      {{ form.u101.label() }}
      {{ form.u101(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u102.label() }}
      {{ form.u102(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kontribusi Sektor Pertambangan terhadap PDRB</h4>
      {{ form.u103.label() }}
      {{ form.u103(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u104.label() }}
      {{ form.u104(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kontribusi Sektor Pariwisata terhadap PDRB</h4>
      {{ form.u105.label() }}
      {{ form.u105(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u106.label() }}
      {{ form.u106(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kontribusi Sektor Kelautan dan Perikanan terhadap PDRB</h4>
      {{ form.u107.label() }}
      {{ form.u107(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u108.label() }}
      {{ form.u108(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kontribusi Sektor Perdagangan terhadap PDRB</h4>
      {{ form.u109.label() }}
      {{ form.u109(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u110.label() }}
      {{ form.u110(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kontribusi Sektor Industri terhadap PDRB</h4>
      {{ form.u111.label() }}
      {{ form.u111(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u112.label() }}
      {{ form.u112(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kontribusi Sektor Industri Rumah Tangga terhadap PDRB</h4>
      {{ form.u113.label() }}
      {{ form.u113(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u114.label() }}
      {{ form.u114(class="form-control my-2", autocomplete="off")}}
      
      <h4>Pertumbuhan Industri</h4>
      {{ form.u115.label() }}
      {{ form.u115(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u116.label() }}
      {{ form.u116(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kontribusi Transmigrasi terhadap PDRB</h4>
      {{ form.u117.label() }}
      {{ form.u117(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u118.label() }}
      {{ form.u118(class="form-control my-2", autocomplete="off")}}
      
      <h4>Pengeluaran Konsumsi Rumah Tangga per Kapita</h4>
      {{ form.u119.label() }}
      {{ form.u119(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u120.label() }}
      {{ form.u120(class="form-control my-2", autocomplete="off")}}
      
      <h4>Nilai Tukar Petani</h4>
      {{ form.u121.label() }}
      {{ form.u121(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u122.label() }}
      {{ form.u122(class="form-control my-2", autocomplete="off")}}
      
      <h4>Persentase Pengeluaran Konsumsi non Pangan per Kapita</h4>
      {{ form.u123.label() }}
      {{ form.u123(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u124.label() }}
      {{ form.u124(class="form-control my-2", autocomplete="off")}}

      <h4>Produktifitas Total Daerah</h4>
      {{ form.u125.label() }}
      {{ form.u125(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u126.label() }}
      {{ form.u126(class="form-control my-2", autocomplete="off")}}
      
      <h4>Desa Berstatus Swasembada terhadap Total Desa</h4>
      {{ form.u127.label() }}
      {{ form.u127(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u128.label() }}
      {{ form.u128(class="form-control my-2", autocomplete="off")}}
      
      <h4>Rasio Ekspor Import terhadap PDB</h4>
      {{ form.u129.label() }}
      {{ form.u129(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u130.label() }}
      {{ form.u130(class="form-control my-2", autocomplete="off")}}
      
      <h3>Kegiatan BUMD (Badan Usaha Milik Negara)</h3>
      <h4>a. PDAM (Perusahaan Daerah Air Minum)</h4>
      {{ form.u131.label() }}
      {{ form.u131(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u132.label() }}
      {{ form.u132(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u133.label() }}
      {{ form.u133(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u134.label() }}
      {{ form.u134(class="form-control my-2", autocomplete="off")}}
      
      <h4>b. PERUSDA (Perusahaan Daerah)</h4>
      {{ form.u135.label() }}
      {{ form.u135(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u136.label() }}
      {{ form.u136(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u137.label() }}
      {{ form.u137(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u138.label() }}
      {{ form.u138(class="form-control my-2", autocomplete="off")}}
      
      <h4>c. PT. BPST(Bangun Palu Sulawesi Tengah)</h4>
      {{ form.u139.label() }}
      {{ form.u139(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u140.label() }}
      {{ form.u140(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u141.label() }}
      {{ form.u141(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u142.label() }}
      {{ form.u142(class="form-control my-2", autocomplete="off")}}
      
      <h4>d. PT. CNE (Citra Nuansa Elok)</h4>
      {{ form.u143.label() }}
      {{ form.u143(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u144.label() }}
      {{ form.u144(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u145.label() }}
      {{ form.u145(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u146.label() }}
      {{ form.u146(class="form-control my-2", autocomplete="off")}}
      
      <h3>Kegiatan Sumber Daya Alam (SDA)</h3>
      <h4>a. LPG 3 Kilo Bersubsidi</h4>
      {{ form.u147.label() }}
      {{ form.u147(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u148.label() }}
      {{ form.u148(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u149.label() }}
      {{ form.u149(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u150.label() }}
      {{ form.u150(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u151.label() }}
      {{ form.u151(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u152.label() }}
      {{ form.u152(class="form-control my-2", autocomplete="off")}}
      
      <h4>b. BBM (Bahan Bakar Minyak)</h4>
      {{ form.u153.label() }}
      {{ form.u153(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u154.label() }}
      {{ form.u154(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u155.label() }}
      {{ form.u155(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u156.label() }}
      {{ form.u156(class="form-control my-2", autocomplete="off")}}
      
      <h3>Kegiatan TPID (Tim Pengendali Inflasi Daerah)</h3>
      {{ form.u157.label() }}
      {{ form.u157(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u158.label() }}
      {{ form.u158(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u159.label() }}
      {{ form.u159(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u160.label() }}
      {{ form.u160(class="form-control my-2", autocomplete="off")}}
      
      <h4>Pengawasan Beras ASN Pemda Kota Palu</h4>
      {{ form.u161.label() }}
      {{ form.u161(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u162.label() }}
      {{ form.u162(class="form-control my-2", autocomplete="off")}}
      
      <h4>Pengawasan Ekonomi Mikro Kecil Menengah</h4>
      {{ form.u163.label() }}
      {{ form.u163(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u164.label() }}
      {{ form.u164(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u165.label() }}
      {{ form.u165(class="form-control my-2", autocomplete="off")}}
      
      <h2>IV. Bagian Pembangunan</h2>
      {{ form.u166.label() }}
      {{ form.u166(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u167.label() }}
      {{ form.u167(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u168.label() }}
      {{ form.u168(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u169.label() }}
      {{ form.u169(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u170.label() }}
      {{ form.u170(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u171.label() }}
      {{ form.u171(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u172.label() }}
      {{ form.u172(class="form-control my-2", autocomplete="off")}}
      
      <h2>V. Bagian Organisasi</h2>
      {{ form.u173.label() }}
      {{ form.u173(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u174.label() }}
      {{ form.u174(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u175.label() }}
      {{ form.u175(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u176.label() }}
      {{ form.u176(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u177.label() }}
      {{ form.u177(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u178.label() }}
      {{ form.u178(class="form-control my-2", autocomplete="off")}}

      <h2>VI. Bagian Kesra</h2>
      {{ form.u179.label() }}
      {{ form.u179(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u180.label() }}
      {{ form.u180(class="form-control my-2", autocomplete="off")}}
      
      <h4>Nikah Massal</h4>
      {{ form.u181.label() }}
      {{ form.u181(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u182.label() }}
      {{ form.u182(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u183.label() }}
      {{ form.u183(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u184.label() }}
      {{ form.u184(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u185.label() }}
      {{ form.u185(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u186.label() }}
      {{ form.u186(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u187.label() }}
      {{ form.u187(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u188.label() }}
      {{ form.u188(class="form-control my-2", autocomplete="off")}}
      
      <h4>Kegiatan Lembaga Pengembangan PESPARAWI Daerah (LPPD)</h4>
      {{ form.u189.label() }}
      {{ form.u189(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u190.label() }}
      {{ form.u190(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u191.label() }}
      {{ form.u191(class="form-control my-2", autocomplete="off")}}
      
      <h4>Pemberangkatan TPHD Kota Palu</h4>
      {{ form.u192.label() }}
      {{ form.u192(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u193.label() }}
      {{ form.u193(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u194.label() }}
      {{ form.u194(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u195.label() }}
      {{ form.u195(class="form-control my-2", autocomplete="off")}}
      
      <h4>Peringatan Hari-Hari Besar Keagamaan</h4>
      {{ form.u196.label() }}
      {{ form.u196(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u197.label() }}
      {{ form.u197(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u198.label() }}
      {{ form.u198(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u199.label() }}
      {{ form.u199(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u200.label() }}
      {{ form.u200(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u201.label() }}
      {{ form.u201(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u202.label() }}
      {{ form.u202(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u203.label() }}
      {{ form.u203(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u204.label() }}
      {{ form.u204(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u205.label() }}
      {{ form.u205(class="form-control my-2", autocomplete="off")}}
      
      <h4>Pelatihan Pegawai Syara dan Majelis Talim</h4>
      {{ form.u206.label() }}
      {{ form.u206(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u207.label() }}
      {{ form.u207(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u208.label() }}
      {{ form.u208(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u209.label() }}
      {{ form.u209(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u210.label() }}
      {{ form.u210(class="form-control my-2", autocomplete="off")}}
      
      <h2>VII. Bagian Pengadaan Barang dan Jasa</h2>
      <h4>Daftar Pelaksanaan Tender pada Bagian/ Jasa Kota Palu Menurut Kategori Lelang</h4>
      {{ form.u211.label() }}
      {{ form.u211(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u212.label() }}
      {{ form.u212(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u213.label() }}
      {{ form.u213(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u214.label() }}
      {{ form.u214(class="form-control my-2", autocomplete="off")}}
      
      <h2>VIII. Bagian Umum</h2>
      {{ form.u215.label() }}
      {{ form.u215(class="form-control my-2", autocomplete="off")}}
      
      <h4>1. Administrasi Keuangan Perangkat</h4>
      {{ form.u216.label() }}
      {{ form.u216(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u217.label() }}
      {{ form.u217(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u218.label() }}
      {{ form.u218(class="form-control my-2", autocomplete="off")}}
      
      <h4>2. Administrasi Barang Milik Daerah pada Perangkat Daerah</h4>
      {{ form.u219.label() }}
      {{ form.u219(class="form-control my-2", autocomplete="off")}}
      
      <h4>3. Adminsitrasi Umum Perangkat Daerah</h4>
      {{ form.u220.label() }}
      {{ form.u220(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u221.label() }}
      {{ form.u221(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u222.label() }}
      {{ form.u222(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u223.label() }}
      {{ form.u223(class="form-control my-2", autocomplete="off")}}
      
      <h4>4. Penyediaan Jasa Penunjang Urusan Pemerintahan</h4>
      {{ form.u224.label() }}
      {{ form.u224(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u225.label() }}
      {{ form.u225(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u226.label() }}
      {{ form.u226(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u227.label() }}
      {{ form.u227(class="form-control my-2", autocomplete="off")}}
      
      <h4>5. Pemeliharaan Barang Milik Daerah Penunjang Urusan Pemerintahan</h4>
      {{ form.u228.label() }}
      {{ form.u228(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u229.label() }}
      {{ form.u229(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u230.label() }}
      {{ form.u230(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u231.label() }}
      {{ form.u231(class="form-control my-2", autocomplete="off")}}
      
      <h4>6. Administrasi Keuangan dan Operasional Kepala Daerah</h4>
      {{ form.u232.label() }}
      {{ form.u232(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u233.label() }}
      {{ form.u233(class="form-control my-2", autocomplete="off")}}
      
      <h4>7. Fasilitasi Kerumahtanggaan Sekretariat</h4>
      {{ form.u234.label() }}
      {{ form.u234(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u235.label() }}
      {{ form.u235(class="form-control my-2", autocomplete="off")}}
      
      {{ form.u236.label() }}
      {{ form.u236(class="form-control my-2", autocomplete="off")}}

      <!-- akhir -->
      
      {{ form.district_id.label() }}
      {{ form.district_id(class="form-control my-2")}}

      <br>

      {{ form.submit(class="btn btn-warning btn-large btn-block")}}

    </form>

  </div>

  <br><br><br><br><br>

{% endblock %}